@import "../../styles/index.scss";

header {
    background-color: $bg-primary-color;
    border-bottom: 2px solid $bg-secondary-color;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        color: $text-primary-color;

        padding: 20px;

        #logo {
            border-radius: 50%;

            width: 50px;
        }

        #navMenu {
            background: none;

            img {
                width: 34px;
            }
        }

        #navLinks {
            background-color: $bg-primary-color;

            display: flex;
            flex-direction: column;

            position: absolute;
            top: 0;
            right: 0;

            width: 0;
            height: 100vh;
            padding-top: 30px;

            overflow: hidden;
            transition: all 500ms ease;
            z-index: 100000000;

            &.nav-open {
                width: 50%;
            }

            #closeNavMenu {
                background: none;

                align-self: flex-end;

                padding-right: 20px;
                margin-bottom: 18px;

                img {
                    width: 30px;
                }
            }

            a {
                border-bottom: 2px solid $bg-secondary-color;

                color: $text-primary-color;
                font-size: rem-calc(16);
                text-decoration-line: none;
                text-wrap: nowrap;

                padding: 10px;
            }
        }
    }
}
