$bg-primary-color: #000;
$bg-secondary-color: #fff;
$bg-tertiary-color: #ffff00;

$text-primary-color: $bg-secondary-color;
$text-secondary-color: $bg-primary-color;
$text-tertiary-color: $bg-tertiary-color;
